.about {
  padding-bottom: 2rem;
  &-bio-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(
        rgba($primary_color, 0.8),
        rgba($primary_color, 0.8)
      ),
      url("../images/code3.jpg") center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  p {
    margin-bottom: 2rem;
  }
  &-bio {
    width: 80%;
    text-align: center;
    .text-secondary {
      padding-bottom: 1rem;
    }
  }
  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &-job {
      background: lighten($primary_color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary_color;
      h2,
      h3 {
        margin: 0.5rem 0;
      }
      h6 {
        margin: 0.3rem 0;
      }
    }
  }
  .social_icons {
    display: flex;
    flex-direction: column;
  }
  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
