@include media-md {
  .menu-button {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &-item {
        display: inline;
        padding-right: 1.5rem;
      }
      &-link {
        font-size: 1rem;
      }
    }
  }
  .about-bio {
    font-size: 1.5rem;
  }
  .projects {
    &-bio-image {
      height: 40vh;
    }
    &-items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .projects {
    &-items {
      grid-template-columns: repeat(3, 1fr);
    }
    &-buttons{
     font-size: 1rem;
    }
  }
  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include media-xl {
  .projects {
    &-bio-image {
      height: 50vh;
    }
 
   &-buttons{
     font-size: 1rem;
    }
    
  
  }
}
